.col1{

    /*background-color: red;*/
    height: auto;
}

.col2{

    /*background-color: orange*/
    height: auto;
}

.col3{

    /*background-color: yellow;*/
    height: auto;
}

.myContainer{
    margin-top: 10px;
    /*background-color: gray;*/
}

.post1{

    height: 200px;
    background-color: #ffffff;
    margin: 30px;  
}

.post2{

    height: 600px;
    background-color: #ffffff;
    margin: 30px; 
    padding-top: 30px; 
}

.post3{

    height: 400px;
    background-color: #ffffff;
    margin: 30px;
}