

body{
    background-color:#ecf0f1;
}

.navbar-custom {
    background-color: #e44d3a !important;
}

.navbar-custom a{
    color: black;
}

ul.nav a:visited,
ul.nav a:hover{ 
    background-color: #ed604e;
}

.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus {
  background-color: #ed604e;
}

.navbar-toggle {
    background-color: #ed604e !important;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: black;
}



/* HEIGHT ABOUT NAVBAR 

.navbar {
    min-height: 50px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px 
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px 
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
}

.searchBar{
    
    margin-top: 20px;
}*/


