.newPost{
    background: #f5f6fa;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.newPost:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.wall{

    background: #f5f6fa;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.wall:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }